# -----------------------
# Sistema Operativo
# -----------------------
.DS_Store
Thumbs.db

# -----------------------
# Logs
# -----------------------
*.log

# -----------------------
# Variables de entorno
# -----------------------
.env

# -----------------------
# IDEs
# -----------------------
.idea/
*.iml
out/

# -----------------------
# Gradle y builds
# -----------------------
.gradle/
build/

# -----------------------
# Java
# -----------------------
*.class
*.jar
